body {
    background-color: rgb(208, 208, 208);
}

.MenuGlobalNavegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 120px;
}

.logo img {
    width: 60px;
    height: auto;
    margin-right: 20px;
    
}

.search-bar {

    position:  absolute;
    margin-right: 20px;
    margin-left: 70px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    
}

.search-bar input:focus {
    border-color: #0077b5; 
}

.search-bar i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
}

.icons i {
    font-size: 28px;
    color: #555;
    margin-left: 30px;
    margin-right: 30px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-btn:hover span {
    color: #000000;
}

.icon-btn:hover i {
    color: #000000;
}



.icon-btn span {
    color: #555;
    font-size: 18px; 
    margin-top: 8px; 
    text-align: center; 
}

.with-divider {
    border-left: 1px solid #ccc; 
    padding-left: 10px; 
    
}

.Abonate {
    font-size: 18px; 
    margin-left: 60px; 
    color: gold; 
    text-align: center; 
}

.contenido-feed{
    display: flex;
    padding-top: 100px;
}
.contenido-izq {
    
    width: 16%; 
    margin-left: 120px; 
    
}

.bienvenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.varios {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido-mid{
    width: 45%; 
    margin-left: 20px; 
    
}

.crear-publicacion{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publicacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido-der{
    width: 20%; 
    margin-left: 20px; 
}

.añadir-feed{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}