body {
    background-color: rgb(234, 234, 234);
    font-family: 'Open Sans';
}

.MenuGlobalNavegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5; 
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 120px;
}

.logo img {
    cursor: pointer;
    width: 60px;
    height: auto;
    margin-right: 20px;
    
}

.search-bar {

    position:  absolute;
    margin-right: 20px;
    margin-left: 70px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    
}

.search-bar input:focus {
    border-color: #0077b5; 
}

.search-bar i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
}

.icons i {
    font-size: 28px;
    color: #555;
    margin-left: 30px;
    margin-right: 30px;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-btn:hover span {
    color: #000000;
}

.icon-btn:hover i {
    color: #000000;
}



.icon-btn span {
    color: #555;
    font-size: 18px; 
    margin-top: 8px; 
    text-align: center; 
}

.with-divider {
    border-left: 1px solid #ccc; 
    padding-left: 10px; 
    
}

.Abonate {
    font-size: 18px; 
    margin-left: 60px; 
    color: gold; 
    text-align: center; 
}

.contenido-feed{
    display: flex;
    padding-top: 100px;
}
.contenido-izq {   
    width: 16%; 
    margin-left: 120px; 
    
}

.bienvenido {
    background-color: #fff;
    position: relative;
    z-index: 1; 
    padding: 0px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenidoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17%;
    background-color: #0077b5;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.perfil-img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    border: 4px solid #ffffff;
}

.bienvenida-text h1 {
    font-size: 20px; 
    margin-bottom: 20px;
}

.bienvenida-text h1:hover{
    text-decoration: underline;
    text-decoration-color: #0077b5;
}

.bienvenido button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: start;
    margin-left: 0;
    margin-right: 0;
}

.bienvenido button:hover {
    background-color: #e0e0e0;
}

.bienvenido button.color:hover p {
    color: #0077b5; 
    text-decoration: underline; 
    text-decoration-color: #0077b5;
}


.bienvenido button p {
    color: black;
    margin: 0;
}

.bienvenido button.button-with-border-up {
    border-top: 1px solid #ccc;
}

.bienvenido button.button-with-border-down {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.buttons-container button {
    position: relative;
    padding-right: 30px; 
    padding-left: 30px;
}

.icon-right {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}


.varios {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.varios p{
    text-align: start;
    padding-left: 20px;
    color: #0077b5;
    cursor: pointer;
    position: relative;
}

.varios p:hover{
    text-decoration: underline; 
    text-decoration-color: #0077b5;
}

.varios button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #777;
    cursor: pointer;
    border-top: 1px solid #ccc;
    width: 100%;
    display: block;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.varios button:hover {
    background-color: #e0e0e0;
}

.varios p i {
    position: absolute;
    right: 0; 
    padding-right: 20px; 
    color: black; 
}


.contenido-mid{
    width: 44%; 
    margin-left: 20px; 
    
}

.crear-publicacion{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.Img-Perfil{
    display: flex;
    align-items: center;
}

.Img-Perfil img{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-top: 0;
    border: 4px solid #ffffff;
    margin-right: 10px;
}

.Img-Perfil input{
    flex: 1;
    width: 620px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #777;
    outline: none;
    font-size: 16px;
    background-color: #e6e6e6;
}

.iconos-publicacion{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.Cont{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.Cont i{
    font-size: 25px;
    margin-right: 10px;
}

.Cont p{
    color: #464646;
    font-size: 18px;
}

.Cont:hover{
    background-color: #e6e6e6;
}

.publicacion {
    background-color: #fff;
    padding: 0;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Publicador{
    display: flex; 
    padding: 20px;
    padding-bottom: 0;
}

.Publicador img{
    width: 80px; 
    height: 80px;
    margin-top: 0;
    margin-right: 20px;
}

.txt h4{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 15px;
}

.txt p{
    margin-top: 0;
    color: #555;
}

.Publicador button{
    margin-left: 350px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    height: 7%;
}

.Publicador button:hover{
    background-color: #e8e8e8;
}

.Publicador button i{
    padding: 3px;
    font-size: 32px;
    color: #555;
}

.texto-pub{
    margin-left: 20px;
    margin-right: 20px;
    color: #464646;
    font-size: 17px;
    margin-top: 0;
    
}

.publicacion span{
    color: #0077b5;
}

.publicacion span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.Img-Contenido {
    width: 100%;
    height: auto;
    display: block; 

}

.reacciones-comentarios{
    display: flex;
    justify-content: space-between;
    
}

.reacciones{
    font-size: 14px;
    padding: 20px;
    padding-top: 0p;

}

.reacciones:hover{
    color: #0077b5;
    text-decoration: underline;
}

.comentario-comp{
    padding: 20px;
    padding-bottom: 0;
    
}

.reaccionar{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.reaccionar button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #777;
    cursor: pointer;
    
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 10px;

    
}

.reaccionar button:hover{
    background-color: #d4d4d4;
}

.reaccionar button i{
    font-size: 24px;
    margin-right: 10px;
}

.contenido-der{
    width: 22%; 
    margin-left: 20px;
}

.añadir-feed{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

.subTitulo{
    display: flex;
    
}

.subTitulo h3{  
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
    flex: 1;
}

.subTitulo i{
    margin-right: 20px;
    padding-top: 5px;
    font-size: 18px;
    cursor: pointer;
}



.Paginas{
    display: flex;
    padding: 0px;
    margin: 0;
}

.Paginas img{
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 4px solid #ffffff;
}

.Paginas h4{
    margin-bottom: 0;
}

.Paginas p{
    margin-bottom: 5px;
    margin-top: 5px;
    color: #777;
}

.Paginas button{
    border-radius: 25px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    color: #777;
    border: 2px solid #555;
    cursor: pointer;
}

.Paginas button i{
    color:rgb(114, 109, 109);
}

.Paginas button:hover{
    background-color: #dfdfdf;
    border: 2px solid black;
}

.Recomendaciones{
    background-color: transparent;
    font-size: 18px;
    color: #777;
    border: none;
    cursor: pointer;
    width: 80%;
    display: block;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 0;
    border-radius: 5px;
    padding: 5px;
}

.Recomendaciones:hover{
    background-color: #d4d4d4;
}

.Img-Publicidad{
    cursor: pointer;
    background-color: transparent;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 0;
   position: sticky;
   top: 100px;
}

.Img-Publicidad img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    display: block; 
}

.footer{
    position: sticky;
    top: 440px;
    text-align: center;
}

.footer p a {
    color: #555;
    cursor: pointer;
    padding: 15px;
    padding-bottom: 0;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 0;
}

.footer p a i{
    font-size: 20px;
    margin-left: 5px;
}

.footer p a:hover{
    text-decoration: underline;
}

.long-br{
    padding: 0;
    margin-bottom:12px;
    margin-top: 0;
}
